.comment-page__wrapper {
    background: white;
    padding: 40px 0;
}

.comment-page__container {
    margin: 0 auto;
    max-width: 1100px;
}

.comment-page__heading-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.comment-page__heading {
    color: #272727;
    font-family: Outfit, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
}

.comment-page__form-label {
    color: #848484;
    font-family: HK Grotesk, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
}

.comment-page__form-item {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 30px 0;
}

.comment-page__form-item-id {
    display: none;
}

.comment-page__form-control,
.comment-page__form-range,
.comment-page__form-area {
    border: 1px solid #848484;
}

.comment-page__btn {
    background-color: var(--properties-background);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 56px;
}

@media screen and (max-width: 1280px) {
    .comment-page__container {
        max-width: 1004px;
    }

    .comment-page__heading {
        font-size: 40px;
    }

    .comment-page__form-item {
        grid-template-columns: 170px 1fr;
    }

    .comment-page__form-label {
        font-size: 20px;
    }

    .comment-page__form-file {
        font-size: 17px;
    }

    .comment-page__btn {
        font-size: 20px;
        padding: 0;
    }

}

@media screen and (max-width: 1024px) {
    .comment-page__container {
        max-width: 748px;
    }

    .comment-page__heading {
        font-size: 35px;
    }

    .comment-page__form-item {
        grid-template-columns: 120px 1fr;
    }

    .comment-page__form-label {
        font-size: 16px;
    }

    .comment-page__btn {
        font-size: 16px;
        line-height: 45px;
    }
}

@media screen and (max-width: 768px) {
    .comment-page__container {
        max-width: 620px;
    }

    .comment-page__heading {
        font-size: 30px;
    }
}

@media screen and (max-width: 640px) {
    .comment-page__wrapper {
        padding: 20px 0;
    }

    .comment-page__container {
        max-width: 408px;
    }

    .comment-page__form-item {
        grid-template-columns: 130px 1fr;
        margin: 15px 0;
    }
}

@media screen and (max-width: 428px) {
    .comment-page__container {
        max-width: 380px;
    }

    .comment-page__form-item {
        grid-template-columns: 110px 1fr;
        margin: 15px 0;
    }
}

@media screen and (max-width: 380px) {
    .comment-page__container {
        max-width: 300px;
    }

    .comment-page__heading {
        font-size: 25px;
    }

    .comment-page__form-item {
        grid-template-columns: 115px 1fr;
    }

    .comment-page__form-control {
        width: 100%;
    }

    .comment-page__form-control {
        height: 30px;
    }

    .comment-page__form-label {
        font-size: 14px;
    }
}