/* Retail section */

.header__main-bar-retail-section-wrapper {
    display: flex;
    align-items: center;
}

.header__main-bar-retail-section-list {
    display: flex;
    align-items: center;
}

.header__main-bar-retail-section-list-item {
    padding-right: 40px;
}

.header__main-bar-retail-section-list-item:last-child {
    padding-right: 0;
}

.header__main-bar-retail-section {
    display: flex;
    align-items: center;
}

.header__main-bar-retail-section-list-link,
.sign-out-link {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--header-retail-link);
    text-decoration: none;
}

.header__main-bar-retail-section-list-link:hover {
    color: var(--header-nav-active-link);
}

.active-link {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--header-nav-active-link);
    text-decoration: none;
}