/* Navigation section */

.header__main-bar-navigation-list {
    display: flex;
    align-items: center;
}

.header__main-bar-navigation-list-item {
    padding-right: 40px;
}

.header__main-bar-navigation-list-item:last-child {
    padding-right: 10px;
}

.header__main-bar-navigation-list-link {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--header-nav-link);
    text-decoration: none;
}

.header__main-bar-navigation-list-link:hover {
    color: var(--header-nav-active-link);
}

.home-link {
    color: var(--header-nav-active-link);
}