/* Header main bar */

.header__main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__main-bar-hamburger-menu {
    display: none;
}

.header__main-bar-mobile {
    display: none;
}

/* Navigation section */

.header__main-bar-navigation-list {
    display: flex;
    align-items: center;
}

.header__main-bar-navigation-list-item {
    padding-right: 40px;
}

.header__main-bar-navigation-list-item:last-child {
    padding-right: 10px;
}

.header__main-bar-navigation-list-link {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--header-nav-link);
    text-decoration: none;
}

.header__main-bar-navigation-list-link:hover {
    color: var(--header-nav-active-link);
}

.home-link {
    color: var(--header-nav-active-link);
}

/* Retail section */

.header__main-bar-retail-section-wrapper {
    display: flex;
    align-items: center;
}

.header__main-bar-retail-section-list {
    display: flex;
    align-items: center;
}

.header__main-bar-retail-section-list-item {
    padding-right: 40px;
}

.header__main-bar-retail-section-list-item:last-child {
    padding-right: 0;
}

.header__main-bar-retail-section-list-link {
    font-family: 'HK Grotesk', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: var(--header-retail-link);
    text-decoration: none;
}

.header__main-bar-retail-section-list-link:hover {
    color: var(--header-nav-active-link);
}

.header__main-bar-icons {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

