/* Header main bar */

.header__main-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.header__main-bar-hamburger-menu {
    display: none;
}

.header__main-bar-mobile {
    display: none;
}

.header__main-bar-icons {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

