:root {
    --properties-background: #3A5041;
    --text-on-picture: #FFFFFF;
    --header-nav-link: #BEBFBE;
    --header-nav-active-link: #00264B;
    --header-retail-link: #888887;
    --button-background: #B58269;
    --text-on-title: #161616;
    --black-text: #000000;
    --grey-text: #888887;
    --black-background: #232323;
    --footer-text: rgba(255, 255, 255, 0.58);
    --product-price: #FF5B5B;
}