.products-page__wrapper {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

.products-page__h1 {
    color: #272727;
    font-family: Outfit, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 300;
    line-height: 56px;
    margin: 80px 0;
}