.stars-grey {
    width: 250px;
    height: 50px;
    background: url("../../../assets/images/stars.png") no-repeat 0 -250px;
}

.stars-1 {
    background-position: 0 -200px;
}

.stars-2 {
    background-position: 0 -150px;
}

.stars-3 {
    background-position: 0 -100px;
}

.stars-4 {
    background-position: 0 -50px;
}

.stars-5 {
    background-position: 0 0;
}